/* clearing css*/
*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
.container{
    background-color: aqua;
    border: 1px solid black; 
    text-align: center;
}
img{
    width: 20%;
    border: 5px solid black;
    border-radius: 10px;
    margin: 10px 25px;
}